body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}


.main-header {
    transition: visibility 0s, opacity 0.5s linear;
}

.main-header.hide-header {
    visibility: hidden;
    opacity: 0;
}


.logo img {
    max-width: 70px;
    height: auto;
    margin-right: 10px;
}

.marca {
    display: flex;
    align-items: center;
    flex-direction: column; /* Añadido para que el texto se acomode en dos líneas */
}

.marca h1 {
    font-size: 24px;
    margin: 0;
    white-space: nowrap; /* Añadido para evitar que el texto se divida en dos líneas */
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 80px; /* Espacio adicional para el encabezado fijo */
     position: relative;
    z-index: 1; /* Ajusta según sea necesario, debe ser menor que el z-index del encabezado */
}
.container {
    position: relative;
    z-index: 1; /* Ajusta según sea necesario, debe ser menor que el z-index del encabezado */
        margin-top: 170px; /* Ajusta según la altura de tu encabezado fijo */

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7; /* Ajusta según sea necesario, debe ser mayor que el z-index del contenedor */
}

.backbox {
    background-color: #808080; /* Cambiado a gris */
    width: 80%;
    max-width: 400px;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
}

.frontbox, .login, .signup {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    width: 80%;
    max-width: 400px;
    margin: 5px;
}

.textcontent {
    text-align: center;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #35B729; /* Cambiado a verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2A9045; /* Cambiado a un tono más oscuro de verde al pasar el cursor */
}

.hide {
    display: none;
}

@media screen and (max-width: 600px) {
    .logo img {
        max-width: 50px;
    }
}
